<header>
  <navigation></navigation>
</header>
<main>
  <div class="content">
    <div class="content-navigator">Now Live</div>
    <div class="content-section flex-center" *ngIf="_streams != undefined && _streams?.length != 0">
      <live-card *ngFor="let stream of _streams" [Stream]="stream"></live-card>
    </div>

    <div class="content-section flex-center fade-in" *ngIf="_streams != undefined && _streams?.length == 0">
      <live-card *ngFor="let stream of _streams" [Stream]="stream"></live-card>
    </div>
    <div class="offline fade-in" *ngIf="_streams != undefined && _streams?.length === 0">
        <div class="offline-icon">
          <i class="fa-regular fa-face-sleeping"></i>
        </div>
        <div class="offline-text">we're all sleeping</div>
    </div>
    <div class="loading" *ngIf="_streams === undefined">
      <i class="loading-icon fa-solid fa-spinner"></i>
    </div>
  </div>
  <div class="content">
    <div class="content-navigator">Recent Clips</div>
    <div class="scrollable-content-section flex-center fade-in" *ngIf="_clips != undefined">
      <video-card *ngFor="let clip of _clips" [Video]="clip"></video-card>
    </div>
    <div class="loading" *ngIf="_clips === undefined">
      <i class="loading-icon fa-solid fa-spinner"></i>
    </div>
  </div>
  <div class="content">
    <div class="content-navigator">Recent Streams</div>
    <div class="scrollable-content-section flex-center fade-in" *ngIf="_vods != undefined">
      <video-card *ngFor="let vod of _vods" [Video]="vod"></video-card>
    </div>
    <div class="loading" *ngIf="_vods === undefined">
      <i class="loading-icon fa-solid fa-spinner"></i>
    </div>
  </div>
</main>
